{
  "cloudURL": "https://api.electricimp.com/v5",
  "ownerId": "606fa927-863d-d114-2a0b-8dd1cc62932b",
  "deviceGroupId": "12f1f3b5-5e25-c947-f1f1-87d462fa70e3",
  "device_code": "src/device.nut",
  "agent_code": "src/agent.nut",
  "builderSettings": {
    "variable_definitions": {
      "STREAM_ACCESS_KEY": "ist_1tsqfHWSE1FuYQAOZZbn4cKSGvaOjYbL"
    }
  }
}